

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 20px;
  color: #222;
}

input[type="checkbox"] {
  accent-color: #359df1;   // 你要的色
}

.borderLine { 
  border: 1px solid #000;
}
button {
  padding: 2px 8px;
  background-color: #d13f06;
  color: #eee;
  @include borderSet(2px, none, #333, 4px);
  &:hover {
    background-color: #f54500;
    cursor: pointer;
  }
}
.list-space {
  //   height: 600px;
  padding: 16px;
  width: 600px;
  background-color: #eee;
  @include borderSet(2px, solid, #333, 4px);
}