@use "sass:color";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 20px;
  color: #222;
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

input {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  min-width: 20px;
  accent-color: #359df1; // 你要的色
}

span {
  user-select: none;
  white-space: nowrap;
}

.borderLine {
  border: 1px solid #000;
}

button {
  padding: 4px 8px;
  max-height: 40px;
  background-color: #ce3a00;
  color: #eee;
  font-size: 16px;
  user-select: none;
  @include borderSet(2px, none, #333, 4px);
}
button.blue {
  background-color: #0377d6;
}
button.green {
  background-color: #036e30;
}

/* 桌機限定 hover */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    // background-color: lighten(#ce3a00, 10%);
    background: color.scale(#ce3a00, $lightness: 20%);
  }
  button.blue:hover {
    // background-color: lighten(#0377d6, 20%);
    background: color.scale(#0377d6, $lightness: 20%);
  }
  button.green:hover {
    // background-color: lighten(#036e30, 10%);
    background: color.scale(#036e30, $lightness: 10%);
  }
}
